<style>
    .inputDetails {
        padding-top: 20px;
    }
</style>

<div class="inputDetails">
    <label>
        Artist Name: 
        <input id="txtName" type="text" value="Taylor Swift" />
    </label>
    <input id="btnGo" type="button" value="Go" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $("#btnGo").click(function(){
            location = "/Playlist/Index/" + encodeURI($("#txtName").val());
        })
    </script>
</div>